In [11]:
import pandas as pd

In [12]:
university_ages = pd.Series(["12", "13", "14", "15", "16"])

In [13]:
university_ages

0    12
1    13
2    14
3    15
4    16
dtype: object

In [14]:
secondary_ages = pd.Series(["21", "22", "23", "24", "25"])

In [15]:
secondary_ages

0    21
1    22
2    23
3    24
4    25
dtype: object

In [19]:
data_frame = pd.DataFrame({"University Friends Ages": university_ages, "Secondary Friends Ages": secondary_ages})

In [20]:
data_frame

  University Friends Ages Secondary Friends Ages
0                      12                     21
1                      13                     22
2                      14                     23
3                      15                     24
4                      16                     25

In [22]:
data_frame.to_csv("friends-ages.csv")

In [23]:
Friends_Ages = pd.read_csv("friends-ages.csv")

In [24]:
Friends_Ages

   Unnamed: 0  University Friends Ages  Secondary Friends Ages
0           0                       12                      21
1           1                       13                      22
2           2                       14                      23
3           3                       15                      24
4           4                       16                      25

In [25]:
Friends_Ages["University Friends Ages"]

0    12
1    13
2    14
3    15
4    16
Name: University Friends Ages, dtype: int64

In [26]:
Friends_Ages["University Friends Ages"].sum()

np.int64(70)

In [27]:
print(12 + 13 + 14 + 15 + 16)

70