In [4]:
import pandas as pd

In [5]:
name = pd.Series(["Nimat", "Caleb", "Gana"])

In [6]:
name

0    Nimat
1    Caleb
2     Gana
dtype: object

In [7]:
surname = pd.Series(["Audu", "Kur", "Abdullahi"])

In [8]:
surname

0         Audu
1          Kur
2    Abdullahi
dtype: object

In [9]:
full_name = pd.DataFrame({"Name": name, "Surname": surname})

In [10]:
full_name

    Name    Surname
0  Nimat       Audu
1  Caleb        Kur
2   Gana  Abdullahi

In [11]:
import os

In [12]:
os.getcwd()

'C:\\Users\\DELL\\OneDrive\\Desktop\\sample_project_1\\env'

In [13]:
car_brands = pd.Series(["Toyota", "Honda", "Benz"])

In [14]:
car_brands

0    Toyota
1     Honda
2      Benz
dtype: object